@use '../../assets/styles/mixins' as *;
@use '../../assets/fonts/mixins' as *;

// Category Tag

.root {
    display: block;
    width: 100%;
    text-align: center;
    background: var(--primary-background-color);
    min-height: 100vh;
    transition: all 0.1s ease;
}
.pornstarsGrid {
    display: block;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 20px 0px;
    margin-bottom: 12px;

    .item {
        display: inline-block;
        margin: 0px 15px 0px 0px;
        width: 170px;
    }
}
.pornstarsGrid::-webkit-scrollbar {
    display: none;
}
.videosGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 16px;
}