
@use '../variables' as *;
@use '../../assets/styles/mixins' as *;
@use '../../assets/fonts/mixins' as *;
@use '../../assets/styles/main.scss' as *;

// Button

.root {
    @include mulish(600, normal);
    @include block-ellipsis();
    color: $ui-primary-color;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 0.1s ease;
}
.root:hover {
    transform: scale(1.03);
}

// with ico
.root.withIco {
    display: inline-flex;
    flex-flow: row nowrap;
    gap: 10px;

    .ico {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .text {
        display: inline-flex;
        align-items: center;
        justify-content: start;
    }
}

// sizes
.bg {
    height: 56px;
    padding: 0px 20px;
    font-size: 18px;
    border-radius: 12px;

    img {
        width: 30px;
        height: 30px;
    }
}
.md {
    height: 44px;
    padding: 0px 16px;
    font-size: 16px;
    border-radius: 9px;


    img {
        width: 27px;
        height: 27px;
    }
}
.sm {
    height: 44px;
    font-size: 14px;
    border-radius: 7px;
    padding: 0px 14px;

    img {
        width: 20px;
        height: 20px;
    }
}

// colors
.contrast {
    background: var(--rift-color);
    color: $ui-contrast-color-text;
}
.primary {
    background: $ui-primary-color;
    color: $ui-primary-color-text;
}
.default {
    background: $ui-default-color;
    color: $ui-default-color-text;
}
.empty {
    background: transparent;
    border: 1px solid $ui-default-color;
}
.dark {
    background: #171717;
    color: $ui-default-color-text;
}