
@use '../variables' as *;
@use '../../assets/styles/mixins' as *;
@use '../../assets/fonts/mixins' as *;

// Button

.root {
    @include mulish(600, normal);
    color: $ui-primary-color;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 0.1s ease;
}
.root:hover {
    transform: scale(1.03);
}

// sizes
.bg {
    padding: 14px 19px;
    font-size: 18px;
    border-radius: 26px;
}
.md {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 9px;
}
.sm {
    padding: 6px 11px;
    font-size: 14px;
    border-radius: 7px;
}

// colors
.contrast {
    background: $ui-contrast-color;
    color: $ui-contrast-color-text;
}
.primary {
    background: $ui-primary-color;
    color: $ui-primary-color-text;
}
.default {
    background: $ui-default-color;
    color: $ui-default-color-text;
}
.empty {
    background: transparent;
    border: 1px solid $ui-default-color;
}