
@use '../../assets/styles/mixins' as *;
@use '../../assets/fonts/mixins' as *;

// Top Bar

.root {
    @include mulish(500, normal);
    color: var(--primary-text-color);
    font-size: 19px;
    display: block;
    text-align: center;
    background: var(--ternary-background-color);
    padding-top: 6px;
  
    position: sticky;
    top: 0; 
    z-index: 500;
}  
.active {
    display: inline-block;
    height: 100%;
    padding: 10px 0px 7px 0px;
    width: calc(100% - 0px);
    max-width: var(--max-content-width);
    white-space: nowrap;
    overflow-x: scroll;
}
.active::-webkit-scrollbar {
    display: none;
}
.item{
    display: inline-block;
    margin: 0px 5px;
    transition: all 0.1s ease;
}
.first_item {
    display: inline-block;
    margin: 0px 5px;
    transition: all 0.1s ease;
    animation: show_item 0.3s forwards;
}
@keyframes show_item {
    0% {
        margin-right: 100px;
    }
    100%{
        margin-right: 5px;
    }
}