
@use '../../assets/styles/mixins' as *;
@use '../../assets/fonts/mixins' as *;

// Top Bar

.root {
    @include mulish(500, normal);
    color: var(--primary-text-color);
    font-size: 19px;
    display: block;
    text-align: center;
    outline: 1px solid var(--secondary-background-color);
    background: var(--primary-background-color);
    padding-top: 6px;

    // нужно, чтобы оставался наверху
    position: sticky;
    z-index: 500;
}
.active {
    display: inline-block;
    height: 100%;
    padding: 0px 15px;
    width: calc(100% - 30px);
    max-width: var(--max-content-width);
    white-space: nowrap;
    overflow-x: scroll;
}
.active::-webkit-scrollbar {
    display: none;
}