
@use '../variables' as *;
@use '../../assets/styles/mixins' as *;
@use '../../assets/fonts/mixins' as *;

// Category Tag

.root {
    @include mulish(600, normal);
    color: $ui-primary-color;
    outline: none;
    border: none;
    transition: all 0.1s ease;
}

// sizes
.bg {
    height: 50px;
    font-size: 18px;
    border-radius: 25px;
    padding: 0px 18px;
    width: calc(100% - 36px);
}
.md {
    height: 46px;
    font-size: 17px;
    border-radius: 22px;
    padding: 0px 15px;
    width: calc(100% - 30px);
}
.sm {
    height: 40px;
    font-size: 15px;
    border-radius: 20px;
    padding: 0px 13px;
    width: calc(100% - 26px);
}

// colors
.contrast {
    background: $ui-contrast-color;
    color: $ui-contrast-color-text;
}
.default {
    background: $ui-default-color;
    color: $ui-default-color-text;
}
.empty {
    background: transparent;
    border: 1px solid $ui-default-color;
}