
@use '../../assets/styles/mixins' as *;
@use '../../assets/fonts/mixins' as *;
@use '../../assets/styles/main.scss' as *;

// Header

.root {
    @include mulish(500, normal);
    color: var(--primary-text-color);
    font-size: 19px;
    display: block;
    text-align: center;
    height: 60px;
    background: #000000;
    background: var(--rift-color);

    .active {
        position: relative;
        display: inline-flex;
        flex-flow: row nowrap;
        gap: 15px;
        width: 100%;
        max-width: var(--max-content-width);
        height: 100%;

        @media (max-width: #{$small-screen-max-width}) {
            gap: 0px 8px;
        }

        .modalLine {
            position: absolute;
            z-index: 10;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 0px;
            background: #E73030;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.21) 0%, rgba(107, 22, 22, 1) 54%, rgba(0, 0, 0, 0.21) 100%);
        }

        .section {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0px 20px;
            cursor: pointer;
            
            @media (max-width: #{$small-screen-max-width}) {
                padding: 0px 10px;
                cursor: none;
            }

            .wrapper {
                .title {
                    @include ease-animation(0.1s);
                    @include mulish(500, normal);
                    @include block-ellipsis();
                    font-size: 18px;
                    color: #ffffff;
                }
                .title:hover {
                    color: #000000;
                }
            }
        }
        .section.logoSection {
            padding-left: 20px;
            
            .wrapper {
                @include mulish(800, normal);
                font-size: 44px;
                color: #000000;
            }
        }
        .barSection {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-basis: 100%;
        }
    }
}