
@use '../../assets/styles/mixins' as *;
@use '../../assets/fonts/mixins' as *;

// Header

.root {
    @include mulish(500, normal);
    color: var(--primary-text-color);
    font-size: 19px;
    display: block;
    text-align: center;
    height: 60px;
    background: var(--ternary-background-color);
}
.active {
    display: inline-flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: var(--max-content-width);
    height: 100%;
    // background: var(--secondary-background-color);
}
.section {
    @include flex-box(25px, 120px, 150px);
    @include flex-center();
    font-size: 18px;
    color: var(--primary-text-color);
    outline: 1px solid var(--secondary-background-color);
}
.logo {
    @include mulish(600, normal);
    @include flex-box(25px, 120px, 300px);
    @include flex-center();
    outline: 1px solid var(--secondary-background-color);
    font-size: 22px;
    color: var(--primary-text-color);
    white-space: nowrap;
}
.title {
    @include block-ellipsis();
}

.bar {
    @include flex-bar(25px, 15px);
    @include flex-center();
    font-size: 18px;
    color: var(--primary-text-color);
}