
@use '../fonts/mixins' as *;

pre {
 @include mulish(500, normal);
  background: #1e1e2f;
  padding: 1rem;
  border-radius: 8px;
  overflow: auto;
  font-family: 'Fira Code', monospace;
  font-size: 0.9rem;
  color: #e0e0e0;
  line-height: 1.2;
}

code[class*="language-"] {
  white-space: pre;
  display: block;
  line-height: 1.5;
}

/* Синтаксис Prism — переопределение токенов */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6a9955;
}

.token.punctuation {
  color: #d4d4d4;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c586c0;
}

.token.boolean,
.token.number {
  color: #b5cea8;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #ce9178;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #d4d4d4;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #569cd6;
}

.token.function {
  color: #dcdcaa;
}

.token.regex,
.token.important,
.token.variable {
  color: #d16969;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
