
@use '../fonts/_mixins' as *;

:root {
    --primary-docs-background-color: #0c0c0c;
    --primary-background-color: #ececec;
    --primary-text-color: #eee;
    --secondary-background-color: #222222;
    --secondary-text-color: grey;
    --ternary-background-color: #0e0e0e;
    --rift-color: #ef3a3a;
    --non-contrast-rift-color: #ef3a3ac8;
    
    --max-content-width: 1200px;
    --max-mobile-width: 768px;
}

/* devices for media queries*/

$small-screen-max-width: 768px;
$middle-screen-max-width: 1300px;
$big-screen-max-width: 3000px;


html, body,  #root {
    @include mulish(600, normal);
    padding: 0px;
    margin: 0px;
    background: var(--primary-background-color);
    overflow-x: hidden;
}
#root {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 14px; 
} 
::-webkit-scrollbar-track {
    background: #1a1a1a; 
}
::-webkit-scrollbar-thumb {
    background-color: #444; 
    border-radius: 0px;
    border: 1px solid #1a1a1a; 
    transition: background-color 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

a,a:-webkit-any-link {
    text-decoration: none;
    color: none;
}